@model ShowHouse.Application.DTO.EventDTO

<h3>Event Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Capacity)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Model => Model.TicketValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index">Back to list</a>
</div>